*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainBox{
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #efeeee;
}

#sectionA {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

#addBtn {
    width: 100%;
    background-color: #3a8fdf;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    border: 0;
    cursor: pointer;
}
#addBtn:hover {
    background-color: #357fd1;;
}

#pagesList {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(234, 232, 232);
    border-radius: 10px;
    padding: 5px;
}

#sectionB {
    width: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
#emptyState {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    opacity: 0.5;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

#header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pageTitleSection {
    width: 100%;
    display: flex;
    gap: 5px;
}

.pageTitle {
    width: 20%;
    font-size: 18px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageTitleInput {
    width: 80%;
    padding: 5px;
    font-size: 20px;
    border: 1px solid rgb(234, 232, 232);
    border-radius: 10px;
}

.btn {
    width: 20%;
    padding: 7px 5px;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#deleteBtn {
    background-color: #e74c3c;
}

#saveBtn {
    background-color: #4caf50;
}

#deleteBtn:hover{
    background-color: #f03621;
}

#saveBtn:hover{
    background-color: #36993a;
}

#page {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#content {
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    border: 1px solid rgb(234, 232, 232);
    border-radius: 10px;
    font-size: 18px;
    resize: none;
}

.newFile {
    cursor: pointer;
    background-color: #ededed;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
}

#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    display: none;
    font-size: 18px;
}

.selectedPage {
    background-color: lightblue;
}